@using OptimizelyDemo.Common.Helpers

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Optimizely Demo</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <link rel="stylesheet" crossorigin href="~/assets/css/style.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/assets/js/vendors.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.min.js"></script>

    <style>
        /* Fallback for AOS: show elements if AOS fails to initialize */
        [data-aos]:not(.aos-init) {
            opacity: 1 !important;
            visibility: visible !important;
            transform: none !important;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">

        @RenderBody()

    </div>
</body>
</html>
